**/gatk-best-practices
**/gatk-test-data
**/ref
**/.fasta*
**/cromwell*
**/per_sample_scripts
**/intermediates
**/*old
**/*bad_naming
**/log
**/*.bam
**/*.bai
**/*.vcf*
evaluations_*
*script*
*.rg.txt
*.fq
*.pdf
*.bed*
*sbatch*